aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aioice==0.9.0
aiortc==1.11.0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
attrs==25.3.0
audioop-lts==0.2.1
audioread==3.0.1
av==14.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
colorama==0.4.6
cryptography==44.0.2
decorator==5.2.1
distro==1.9.0
dnspython==2.7.0
einops==0.8.1
emoji==2.14.1
fastapi==0.115.12
fastrtc==0.0.18
ffmpy==0.5.0
filelock==3.18.0
frozenlist==1.5.0
fsspec==2025.3.0
google-crc32c==1.7.1
gradio==5.23.1
gradio_client==1.8.0
groovy==0.1.2
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.3
idna==3.10
ifaddr==0.2.0
Jinja2==3.1.6
jiter==0.8.2
joblib==1.4.2
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.3.2
natsort==8.4.0
networkx==3.4.2
numba==0.61.0
numpy==2.1.3
openai==1.61.1
orjson==3.10.16
packaging==24.2
pandas==2.2.3
piexif==1.1.3
pillow==11.1.0
platformdirs==4.3.6
playsound==1.2.2
plyer==2.1.0
pooch==1.8.2
prompt_toolkit==3.0.48
propcache==0.3.1
psutil==6.1.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pyee==13.0.0
PyGetWindow==0.0.9
Pygments==2.19.1
pylibsrtp==0.11.0
pyOpenSSL==25.0.0
pyperclip==1.9.0
PyRect==0.2.0
pysbd==0.3.4
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==14.0.0
ruff==0.11.2
safehttpx==0.1.6
scikit-learn==1.6.1
scipy==1.15.2
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools==75.8.0
shellingham==1.5.4
six==1.16.0
snac==1.2.1
sniffio==1.3.1
sounddevice==0.5.1
soundfile==0.13.1
soxr==0.5.0.post1
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==0.46.1
sympy==1.13.1
threadpoolctl==3.6.0
tomlkit==0.13.2
torch==2.6.0
tqdm==4.67.1
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
uvicorn==0.34.0
Wave==0.0.2
wcwidth==0.2.13
websockets==15.0.1
yarl==1.18.3
